@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img{
  background-image: url("../../public/woman-shoppings.jpg");
}


.promos-1{
  background-image: url("../../public/femaledresses.avif");
}

.promos-2{
  background-image: url("../../public/jwelery-shopping.avif");
}